---
import Layout from '~/layouts/PageLayoutAngie.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Free template for <span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white"> Astro v6</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro v6 +
        Tailwind CSS v4.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages & Blogs.
    </Fragment>
  </Hero> -->

  <Hero2
    tagline="Coaching Personal Online"
    title="Encuentra una Mente en Calma y la Claridad para Construir tu Futuro"
    subtitle="Te acompaño a comprender tu sobrepensamiento y liberar la tensión diaria para construir una vida más valiosa, amable y alineada con lo que realmente te importa."
    actions={[
      { variant: 'primary', text: 'Reservar Cita', href: '#', icon: 'tabler:square-rounded-arrow-right' },
      { text: 'Ver Programa', href: '#' },
    ]}
    image={{
      src: '~/assets/images/hero.jpg',
      alt: 'Click-through Landing Page Hero Image',
    }}
  />

  <!-- Note Widget ******************* -->

  <Note
    title="Angie Wong:"
    description="Coach y Psicóloga con 18 años de trayectoria"
    backgroundColor="section-background-dark "
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Tu Espacio de Transformación"
    subtitle="Si te identificas con alguna de estas situaciones, estás en el lugar correcto:"
    tagline="Da El Primer Paso"
    items={[
      {
        title: 'Batallas con el sobrepensamiento y la autoexigencia',
        description:
          'A veces tu mente va a mil por hora y te cuesta apagar el ruido mental. Te presionas buscando que todo salga perfecto y notas cómo la duda o el miedo a equivocarte frenan tus decisiones.',
        icon: 'tabler:wave-sine',
      },
      {
        title: 'La ansiedad y el estrés se reflejan en tu cuerpo',
        description:
          'Sientes tensión física acumulada, momentos de angustia o te cuesta encontrar tu centro tras una ruptura o una etapa difícil. Sabes que no tienes por qué seguir cargando con esto a solas.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Buscas un espacio para sanar y gestionar tus emociones',
        description:
          'Estás lista para dar el paso. Aquí encontrarás un lugar seguro y guiado para aprender a escuchar lo que sientes sin juzgarte, soltar el control, decidir con total seguridad y reconstruir tu paz mental.',
        icon: 'tabler:brain',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-mist-grey dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- <Features2
    title="Tu Espacio de Transformación"
    subtitle="Olvídate de los enfoques donde solo se habla del problema sin avanzar. Este es un espacio práctico, compasivo y centrado en resultados para dominar tus emociones, cerrar ciclos y activar tus recursos internos. Fusionamos el Coaching Estratégico y la PNL Avanzada para reprogramar tus patrones de pensamiento y alinear tu mente con tus metas."
    tagline="Bienvenidos"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: '#',
        },
      },
    ]}
    image={{
      src: '~/assets/images/angiewong.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <p class="text-periwinkle dark:text-blue-200 font-bold tracking-wide uppercase">
        El Acompañamiento Detrás de Tu Proceso
      </p>
      <h2 class="text-primary-navy text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Conoce a tu Coach: Angie Wong
      </h2>
      <p class="text-charcoal">
        Hola, soy Angie Wong. Como psicóloga clínica y coach certificada en Neurolingüística, he pasado más de 18 años
        acompañando a personas a superar desafíos y liderar sus vidas. Para lograrlo, combino mis maestrías en
        Psicología Clínica y Bienestar Emocional con un enfoque terapéutico integral, innovador y profundamente
        personalizado.
      </p>
      <br />
      <p class="text-charcoal">
        Mi propósito en este espacio no es darte respuestas genéricas. Mi meta es ofrecerte ese refugio seguro y virtual
        donde diseñemos las herramientas exactas que necesitas para alcanzar tus objetivos y vivir con total coherencia. <strong
          >Demos el primer paso juntos hoy.</strong
        >
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-canvas-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023, 2024 and 2025."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility. Now powered by Tailwind CSS v4.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS v4 ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Coaching Personal Online"
    title="Elige tu Camino de Transformación (100% Virtual)"
    classes={{ container: 'services' }}
    items={[
      {
        title: 'Enfoque a tu medida',
        description:
          'Evaluamos tu situación actual en la primera sesión para trazar un mapa de ruta adaptado exclusivamente a tus necesidades o a las de tu relación.',
      },
      {
        title: 'Herramientas prácticas',
        description:
          'Te llevas estrategias aplicables desde el primer día para gestionar el estrés, la ansiedad o los conflictos de comunicación.',
      },
      {
        title: 'Modalidad virtual flexible',
        description:
          'Sesiones online a través de plataformas seguras, permitiéndote priorizar tu bienestar desde la comodidad de tu hogar.',
      },
    ]}
    image={{
      src: '~/assets/images/individual_cropped.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-primary-navy text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Sesión Individual/Pareja (50 minutos)
      </h3>
      Un espacio privado, seguro y confidencial enfocado en abordar tus desafíos actuales de manera inmediata y personalizada.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-mist-grey dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Acompañamiento evolutivo',
        description: `Estructuramos un plan sostenible semana a semana para guiarte desde la raíz de tus bloqueos actuales hacia tus metas de bienestar más altas.`,
      },
      {
        title: 'Un camino en 3 etapas',
        description:
          'Viajamos desde el origen de lo que te limita hoy (Descodificación y Alquimia), hasta construir la versión de ti que vive con calma y propósito (Trascendencia).',
      },
      {
        title: 'Resultados duraderos',
        description:
          'Logras cambios medibles en tu paz mental, dejas atrás el modo supervivencia y te llevas herramientas definitivas para sostener tus emociones y decidir con total seguridad.',
      },
    ]}
    image={{
      src: '~/assets/images/12week_cropped.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-primary-navy text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Programa de Transformación (12 Semanas)
      </h3>
      Un proceso continuo y estructurado de tres meses diseñado bajo el enfoque de Neuro Alquimia Transpersonal para reprogramar
      tu mente, romper bloqueos y consolidar una auto-maestría duradera.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-mist-grey dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    classes={{
      wrapper: 'section-background-gray',
    }}
    isAfterContent
    items={[
      {
        title: 'Temáticas especializadas',
        description:
          'Encuentros enfocados en herramientas específicas como el desarrollo personal, el manejo del estrés, el autoconocimiento y las habilidades sociales.',
      },
      {
        title: 'Comunidad y validación',
        description:
          'Un entorno seguro para compartir experiencias, donde descubres que no estás sola en tu proceso y te nutres de las vivences del grupo.',
      },
      {
        title: 'Dinámicas interactivas',
        description:
          'Ejercicios prácticos guiados en vivo que te permiten experimentar los beneficios del coaching y la PNL de manera grupal y accesible',
      },
    ]}
    image={{
      src: '~/assets/images/group.jpg',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-primary-navy text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Talleres y Sesiones Grupales
      </h3>
      Espacios colaborativos y dinámicos donde el aprendizaje se enriquece a través de la interacción y la experiencia compartida
      con otras personas.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-mist-grey dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Lo Que Dicen Mis Clientes"
    testimonials={[
      {
        testimonial: `El proceso con Angie ha sido transformador. Sus herramientas prácticas de PNL realmente me ayudaron a superar la tensión constante que afectaba mi día a día. Ahora me siento empoderada y capaz de manejar los desafíos de una manera muy saludable.`,
        name: 'Valeria Mendoza',
        job: 'Mentees Satisfecha',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Como coach, Angie me guio a través de un proceso de autorreflexión que cambió mi perspectiva y me dio el impulso necesario para avanzar en mi carrera. Su apoyo fue fundamental para alcanzar mis metas profesionales.`,
        name: 'Carlos Espinoza',
        job: 'Cliente Profesional',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'Gracias a las sesiones de claridad y enfoque con Angie, finalmente pude tomar decisiones informadas sobre mi futuro académico y profesional. Sus herramientas me brindaron total seguridad en mí mismo.',
        name: 'Mateo Silva',
        job: 'Estudiante Universitario',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Leer más testimonios',
      href: 'https://github.com/arthelokyo/astrowind',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-canvas-white dark:bg-transparent"></div>
    </Fragment>
  </Testimonials>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Cómo sé si necesito una sesión individual o el programa de 12 semanas?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: '¿Las sesiones virtuales son igual de efectivas que las presenciales?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-mist-grey dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clientes', amount: '1000+' },
      { title: 'Talleres', amount: '200+' },
      { title: 'Experienca', amount: '18+' },
      { title: 'Estrellas', amount: '5' },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-canvas-white dark:bg-transparent"></div>
    </Fragment>
  </Stats>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Agendar sesión',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title"> ¿Empezamos El Viaje? </Fragment>

    <Fragment slot="subtitle">
      El cambio profundo que tanto buscas está esperándote justo al otro <br class="hidden md:inline" />lado de una sola
      decisión.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-canvas-white dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Nuestro Blog - Mentalidad en Acción"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro v6 + Tailwind CSS v4.
                        Astro is a very interesting technology. Thanks.
                `}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-mist-grey dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
