---
import { SITE } from 'astrowind:config';
import { Picture } from 'astro:assets';
import Image from '~/components/common/Image.astro';
import LogoAngie from '~/assets/images/logo_angie.png';
---

<Image
  class="h-[60px] w-[151px] object-contain"
  widths={[151, 453]}
  sizes="151px"
  loading="eager"
  fetchpriority="high"
  width={151}
  height={60}
  widths={[151, 453]}
  format="webp"
  alt="Angie Wong Logo"
  src="https://assets.angiewongpsi.com/logo_angie.png"
/>
<!-- <Picture
  class:list={''}
  src={LogoAngie}
  height={60}
  formats={['avif', 'webp']}
  alt="Ginger Teriyaki Logo"
  loading={'eager'}
  fetchpriority={'high'}
/> -->

<!-- <span
  class="text-primary-navy self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap dark:text-white"
>
  🌿 {SITE?.name}
</span> -->
